* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #df46bd;
}

tr,
th,
td {
  border: 1px solid #fff;
  text-align: center;
}

input {
  width: 150px;
  text-align: center;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

