* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #df46bd;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  width: 90%;
}

.container {
  display: inline-block;
  height: 100%;
  flex: 1 100%;
  padding: 2em 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr,
th,
td {
  text-align: center;
  padding: 0.1em 0.5em;
}

input {
  width: 150px;
  text-align: center;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
